.buttonTry {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;    
    right: 50%;
    top: 50%;
    text-transform: uppercase;
    padding: 7px;
    background: inherit;
    color: black;
    border: 2px solid black;
	padding: .7em 1.3em;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}

.buttonTry:hover {
    background: transparent;

    border: 2px solid white;
    color: white;
    transition: all 0.3s ease-in-out;
}