.Header{
    position: relative;
    width: 100%;
}

.Header > .AppBar {
    width: 100%;
    display: flex;
    background: #ffffff;
}
.Header .MuiToolbar-root{
    flex-wrap: wrap;
}
.Header .navLink {
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.activeNavLink {
    border-bottom: 1px solid blue;
}

.Header .grow {
    flex: 1;
}

.parallax  {
    min-height: 40rem; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.Header img {
    object-fit: contain;
    height: 10vh;
}
